@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&display=swap');

body{
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

.dashboard{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr auto;
}

.sidebar{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    justify-items: left;
    background-color: #247ba0;
    padding-left: 16px;
}

.logo{
    display: flex;
    align-items: center;
    color: #FEFFFC;
    font-size: 32px;;
}

.logo i{
    margin-right: 12px;
}

.logo p{
    font-weight: bold;
}

.nav{
    display: grid;
    justify-items: left;
}

.nav ul{
    list-style: none;
    display: grid;
    padding-left: 0;
    color: #FEFFFC;
    font-weight: bold;
}

.nav ul a{
    text-decoration: none;
    color: #FEFFFC;
    margin-right: 12px;
}

.nav-link{
    display: flex;
    align-items: center;
    font-size: 18px;
}

.nav-link:hover{
    cursor: pointer;
}

.footer{
    display: grid;
    justify-items: left;
}

.footer ul{
    padding-left: 0;
    font-weight: bold;
    color: #FEFFFC;
}

.footer ul li a{
    text-decoration: none;
    color: #FEFFFC;
    margin-right: 12px;
}

.footer-link{
    display: flex;
    align-items: center;
    font-size: 18px;
}

.footer-link{
    cursor: pointer;
}

.header{
    background-color: #82c9be;
    display: grid;
    grid-template-rows: 1fr 1fr;
    box-shadow: 0 8px 6px rgba(0, 0, 0, 0.15);
    z-index: 10;
}

.upper-section{
    display: flex;
    justify-content: space-between;
    padding: 0 48px 0 48px;
}

.search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: hsl(80, 100%, 99%);
}

.search-bar i{
    margin-right: 12px;
}

.search-bar input{
    width: 32em;
    height: 0.5em;
    font-size: 20px;
    border: 1px solid #d1d5db;
    border-radius: 14px;
    padding: 12px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
    outline: none;
    transition: border-color 0.2s, box-shadow 0.2s;
}

.search-bar input:focus{
    border-color: #2563eb;
    box-shadow: 0 0 0 1px #2563eb;
}

.notifs{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #FEFFFC;
}

.notifs i{
    font-size: 32px;
}

.notifs img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.lower-section{
    display: flex;
    justify-content: space-between;
    padding: 0 48px 0 48px;
}

.user-info{
    display: flex;
    align-items: center;
    gap: 16px;
}

.user-info img{
    margin-right: 16px;
    height: 75px;
    width: 75px;
    border-radius: 50%;
}

.user-info p{
    color: #FEFFFC;
    font-size: 24px;
    font-weight: bold;
}

.user-info p span{
    font-size: 16px;
}

.btn-container{
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.btn{
    background-color: hsl(198, 63%, 48%);
    color: hsl(0, 0%, 100%);
    font-size: 16px;
    font-weight: bold;
    padding: 12px 30px 12px 30px;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.15);
    border: 1px solid hsl(198, 63%, 48%);
    border-radius: 24px;
    transition: background-color 0.2s, border 0.2s, transform 0.1s;
}

.btn:hover{
    cursor: pointer;
    background-color: hsl(198, 63%, 58%);
    border: 1px solid hsl(198, 63%, 58%);
}

.btn:active{
    cursor: pointer;
    background-color: hsl(198, 63%, 68%);
    border: 1px solid hsl(198, 63%, 68%);
    transform: translateY(-2px);
}

.main-content{
    background-color: #f3ffbd;
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 12px 24px 32px 24px;
}

.project-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px;
}

.title{
    grid-column: 1 / -1;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
}

.project-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 36px;
}

.project-card{
    height: 200px;
    width: 350px;
    background-color: #FEFFFC;
    display: flex;
    flex-direction: column;
    padding: 16px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    border-left: 10px solid hsl(344, 100%, 54%);
    border-radius: 12px;
    transition: all 0.2s;
}

.project-card:hover{
    box-shadow: 1px 1px 6px rgba(0, 0, 1, 0.5);
    border-left: 10px solid hsl(344, 100%, 74%);
    transform: translateY(-4px);
}

.name{
    font-weight: bold;
    font-size: 18px;
}

.desc {
    font-weight: normal;
    font-size: 18px;
    margin-top: 8px;
}

.actions{
    width: 25%;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    margin-left: auto;
    font-size: 24px;
}

.actions a{
    text-decoration: none;
    color: #676767;
}

.right-panel{
    display: flex;
    flex-direction: column;
}

.side-container{
    padding: 32px;
    background-color: #FEFFFC;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

.announcement-card:not(:last-child){
    border-bottom: 1px solid hsl(0, 0%, 50%);
}

.annouce-title{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
}

.annouce-desc{
    font-size: 12px;
    margin-top: 0px;
}

.trend-card{
    display: flex;
    align-items: center;
}

.profile{
    margin-right: 12px;
}

.trend-card p{
    color: hsl(0, 0%, 50%);
    font-size: 14px;
}

.trend-card span{
    color: black;
    font-weight: bold;
    font-size: 16px;
}

.trend-card img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}