@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tirra:wght@400;500;600;700;800;900&display=swap');

*{
    font-family: "Montserrat", sans-serif;
}

body{
    padding: 2rem;
}

.nav-links ul li{
    margin: 8px;
}

.nav-links ul li a{
    color: inherit;
    text-decoration: none;
    font-size: 1.5rem;
}

.nav-links ul li a:hover{
    color: blue;
}

.title{
    text-align: center;
}

.img-container{
    display: flex;
    justify-content: center;
}

.img-container img{
    border: 2px solid;
    border-radius: 2rem;
    margin-bottom: 20px;
}

h2{
    padding-left: 20px;
}