@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    height: 100vh;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

.main-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    font-size: 36px;
}

.board{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 24px;
}

.square{
    height: 100px;
    width: 100px;
    font-size: 64px;
    text-align: center;
    border: 1px solid black;
}

.status{
    font-size: 24px;
}