@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

.library{
    height: 100vh;
    background-color: #F4F1EC;
    display: flex;
    flex-direction: column;
}

.header{
    background-color: #3E4A61;
    color: #FFFFFF; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 64px;
}

.header p{
    font-size: 22px;
    font-weight: bold;
}

.add-btn{
    background-color: #C9A24D;
    color: #FFFFFF;
    box-shadow: 2px 2px 4px rgba(158, 158, 158, 0.5);
    font-size: 16px;
    font-weight: bold;
    padding: 12px 24px;
    border: none;
    border-radius: 12px;
    transition: all 0.2s;
}

.add-btn:hover{
    cursor: pointer;
    background-color: hsl(41, 53%, 65%);
    box-shadow: 2px 2px 4px rgba(203, 203, 203, 0.5);
    transform: translateY(-2px);
}

.add-btn:active{
    background-color: hsl(41, 53%, 75%);
    box-shadow: 2px 2px 4px rgba(242, 242, 242, 0.5);
    transform: translateY(-4px);
}

.footer{
    background-color: #3E4A61;
}

.footer p{
    font-size: 16px;
    color: #FFFFFF;
    padding: 8px 16px;
}

.main-container{
    flex: 1;
    padding: 16px;
}

.card-container{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.card{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    height: 175px;
    width: 300px;
    padding: 12px;
    border-radius: 16px;
    border-left: 8px solid hsl(19, 31%, 68%);
    box-shadow: 1px 1px 2px rgba(78, 78, 78, 0.5);
    transition: all 0.2s;
}

.card:hover{
    border-left: 8px solid hsl(19, 31%, 78%);
    box-shadow: 1px 1px 2px rgba(131, 131, 131, 0.5);
    transform: translateY(-2px);
}

.card .title{
    font-size: 18px;
    font-weight: bold;
}

.card .btn-container{
    display: flex;
    justify-content: right;
    gap: 12px;
}

.remove-btn, .mark-btn{
    font-size: 16px;
    padding: 8px;
    border: none;
    border-radius: 4px;
    box-shadow: 1px 1px 1px black;
}

.remove-btn:hover{
    cursor: pointer;
    background-color: hsla(0, 100%, 50%, 0.5);
}

.mark-btn:hover{
    cursor: pointer;
    background-color: hsla(120, 100%, 25%, 0.5);
}

.remove-btn:active{
    background-color: hsla(0, 100%, 50%, 0.75);
}

.mark-btn:active{
    background-color: hsla(120, 100%, 25%, 0.75);
}

.form-container{
    position: fixed;
    inset: 0;
    background: rbga(0, 0, 0, 0.5);
    /* display: none; */
    align-items: center;
    justify-content: center;
}

